body {
  background-color: #772D8B;
  font-family: Serif;
}

h1 {
  color: #EEE5E9;
}

h3 {
  color: #A1EF8B;
  text-transform: uppercase;
}

p {
  color: #EEE5E9;
}

ul {
  color: #EEE5E9;
}

a {
  color: navy blue;
  Text-decoration: underline;
}
